# List

In [1]:
list1 = [1,2,3.5,4.6,'praneeth','kiran',[123,456,789]]
print(list1)

[1, 2, 3.5, 4.6, 'praneeth', 'kiran', [123, 456, 789]]

In [2]:
# Sorting the list -- elements in the list should be of same datatype
list2 = [2,6,4,32,0]
list2.sort()
print(list2)

list3 = ['praneeth','kiran','rahul']
list3.sort()
print(list3)

[0, 2, 4, 6, 32]
['kiran', 'praneeth', 'rahul']

In [3]:
# Append a number 10
list1.append(list2)
print(list1)

[1, 2, 3.5, 4.6, 'praneeth', 'kiran', [123, 456, 789], [0, 2, 4, 6, 32]]

In [4]:
# extend
list1.extend(list2)
print(list1)

[1, 2, 3.5, 4.6, 'praneeth', 'kiran', [123, 456, 789], [0, 2, 4, 6, 32], 0, 2, 4, 6, 32]

In [5]:
# Removing the number 4.6
list1.remove(4.6)
print(list1)

[1, 2, 3.5, 'praneeth', 'kiran', [123, 456, 789], [0, 2, 4, 6, 32], 0, 2, 4, 6, 32]

In [6]:
# Pop
list1.pop()
print(list1)

[1, 2, 3.5, 'praneeth', 'kiran', [123, 456, 789], [0, 2, 4, 6, 32], 0, 2, 4, 6]

In [7]:
# Insert a number 11 in 2nd position
list1.insert(2,11)
print(list1)

[1, 2, 11, 3.5, 'praneeth', 'kiran', [123, 456, 789], [0, 2, 4, 6, 32], 0, 2, 4, 6]

In [8]:
# Reversing the list
list1.reverse()
print(list1)

[6, 4, 2, 0, [0, 2, 4, 6, 32], [123, 456, 789], 'kiran', 'praneeth', 3.5, 11, 2, 1]

In [9]:
# count of the list to find out number of occurences
print(list1.count(2))

2

In [10]:
# clearing the list3 -- removes all the elements in the list
list3.clear()
print(list3)

[]

In [11]:
# index
list1.index('kiran')

6

In [12]:
# copy
print('list3 before copy ',list3)
list3 = list2.copy()
print('list2 : ',list2)
print('list3 : ',list3)

list3 before copy  []
list2 :  [0, 2, 4, 6, 32]
list3 :  [0, 2, 4, 6, 32]

# Dictionaries

In [13]:
dict = {"name":"praneeth","age":23,"company":"TCS","experience":2}
print(dict)

{'name': 'praneeth', 'age': 23, 'company': 'TCS', 'experience': 2}

In [14]:
# printing the values
print(dict.values())

dict_values(['praneeth', 23, 'TCS', 2])

In [15]:
#printing the keys
print(dict.keys())

dict_keys(['name', 'age', 'company', 'experience'])

In [16]:
# fromkeys
StarWars = ('Luke', 'Vader', 'Ray', 'Yoda')
StarTrek = ('Spock','Commander')
universe = dict.fromkeys(StarWars, StarTrek)
print(universe)

{'Luke': ('Spock', 'Commander'), 'Vader': ('Spock', 'Commander'), 'Ray': ('Spock', 'Commander'), 'Yoda': ('Spock', 'Commander')}

In [17]:
# pop
print('dict before pop ', dict);
element = dict.pop('company');
print('popped element : ', element)
print('dict after pop ', dict);

dict before pop  {'name': 'praneeth', 'age': 23, 'company': 'TCS', 'experience': 2}
popped element :  TCS
dict after pop  {'name': 'praneeth', 'age': 23, 'experience': 2}

In [18]:
# popitem
print('dict before popitem ', dict);
element1 = dict.popitem();
print('popped element : ', element1)
print('dict after popitem ', dict);

dict before popitem  {'name': 'praneeth', 'age': 23, 'experience': 2}
popped element :  ('experience', 2)
dict after popitem  {'name': 'praneeth', 'age': 23}

In [19]:
# update
print('dict before update ', dict);
dict1 = {'company':'TCS','experience':2};
dict.update(dict1);
print('dict after update ', dict);

dict before update  {'name': 'praneeth', 'age': 23}
dict after update  {'name': 'praneeth', 'age': 23, 'company': 'TCS', 'experience': 2}

In [20]:
# items
dict.items()

dict_items([('name', 'praneeth'), ('age', 23), ('company', 'TCS'), ('experience', 2)])

In [21]:
# copy
dict3 = dict.copy()
print(dict3)

{'name': 'praneeth', 'age': 23, 'company': 'TCS', 'experience': 2}

In [22]:
# clear
print('dict1 before update ', dict1);
dict1.clear()
print('dict1 after update ', dict1);

dict1 before update  {'company': 'TCS', 'experience': 2}
dict1 after update  {}

In [23]:
# get
element2 = dict.get('experience')
print('Experience : ', element2)

Experience :  2

In [24]:
# setdefault
person = {'name': 'Phill', 'age': 22}
print(person)
# key is not in the dictionary
salary = person.setdefault('salary')
print('person = ',person)
print('salary = ',salary)

# key is not in the dictionary
# default_value is provided
age = person.setdefault('age', 22)
print('person = ',person)
print('age = ',age)

{'name': 'Phill', 'age': 22}
person =  {'name': 'Phill', 'age': 22, 'salary': None}
salary =  None
person =  {'name': 'Phill', 'age': 22, 'salary': None}
age =  22

# Sets

In [25]:
# language set
language = {'English', 'French', 'German'}

# 'German' element is removed
language.remove('German')

# Updated language set
print('Updated language set: ', language)

Updated language set:  {'English', 'French'}

In [26]:
# set of vowels
vowels = {'a', 'e', 'i', 'u'}

# adding 'o'
vowels.add('o')
print('Vowels are:', vowels)

# adding 'a' again
vowels.add('a')
print('Vowels are:', vowels)

Vowels are: {'a', 'u', 'e', 'o', 'i'}
Vowels are: {'a', 'u', 'e', 'o', 'i'}

In [27]:
# copy
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

new_numbers.add('5')

print('numbers: ', numbers)
print('new_numbers: ', new_numbers)

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4, '5'}

In [28]:
# clear
# set of vowels
vowels = {'a', 'e', 'i', 'o', 'u'}
print('Vowels (before clear):', vowels)

# clearing vowels
vowels.clear()
print('Vowels (after clear):', vowels)

Vowels (before clear): {'a', 'u', 'e', 'o', 'i'}
Vowels (after clear): set()

In [29]:
# difference
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# Equivalent to A-B
print(A.difference(B))

# Equivalent to B-A
print(B.difference(A))

{'b', 'a', 'd'}
{'f', 'g'}

In [30]:
# difference_update
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

result = A.difference_update(B)

print('A = ', A)
print('B = ', B)
print('result = ', result)

A =  {'a', 'd'}
B =  {'f', 'c', 'g'}
result =  None

In [31]:
# discard
numbers = {2, 3, 4, 5}

numbers.discard(3)
print('numbers = ', numbers)

numbers.discard(10)
print('numbers = ', numbers)

numbers =  {2, 4, 5}
numbers =  {2, 4, 5}

In [32]:
# intersection
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

In [33]:
# intersection_update
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}

result = A.intersection_update(B)

print('result =', result)
print('A =', A)
print('B =', B)

result = None
A = {2, 3, 4}
B = {2, 3, 4, 5}

In [34]:
# isdisjoint
A = {1, 2, 3, 4}
B = {5, 6, 7}
C = {4, 5, 6}

print('Are A and B disjoint?', A.isdisjoint(B))
print('Are A and C disjoint?', A.isdisjoint(C))

Are A and B disjoint? True
Are A and C disjoint? False

In [35]:
# issubset
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

# Returns True
print(A.issubset(B))

# Returns False
# B is not subset of A
print(B.issubset(A))

# Returns False
print(A.issubset(C))

# Returns True
print(C.issubset(B))

True
False
False
True

In [36]:
# pop
A ={'a', 'b', 'c', 'd'}

print('Return Value is', A.pop())
print('A = ', A)

Return Value is b
A =  {'a', 'c', 'd'}

In [37]:
# symmetric_difference
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'b', 'a', 'e'}
{'b', 'a', 'e'}
{'b', 'a', 'c', 'd'}
{'c', 'e', 'd'}

In [38]:
# symmetric_difference_update
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

result = A.symmetric_difference_update(B)

print('A =', A)
print('B =', B)
print('result =', result)

A = {'a', 'e'}
B = {'c', 'e', 'd'}
result = None

In [39]:
# union
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {'a', 'c', 2, 'd'}
B U C = {1, 'c', 2, 3, 'd'}
A U B U C = {'a', 'c', 2, 1, 'd', 3}
A.union() = {'a', 'c', 'd'}

In [40]:
# update
A = {'a', 'b'}
B = {1, 2, 3}

result = A.update(B)

print('A =', A)
print('result =', result)

A = {'b', 'a', 1, 2, 3}
result = None