# List

In [1]:
st = [1,2,3,4]
print(st)

[1, 2, 3, 4]

In [2]:
st = ['A','B','C','D','E']
print(st)

st[1] = 88.33
print(st)

['A', 'B', 'C', 'D', 'E']
['A', 88.33, 'C', 'D', 'E']

In [3]:
'B' in st

False

In [11]:
l = [1,2,[100,200,300],22.4,[99,100,[44,32],21],76]
print(l)
print(l[0])
print(l[2])
print(l[4])
print(l[4][2])
print(l[2][2])
print(l[4][2][0])

[1, 2, [100, 200, 300], 22.4, [99, 100, [44, 32], 21], 76]
1
[100, 200, 300]
[99, 100, [44, 32], 21]
[44, 32]
300
44

In [12]:
m = [1,2,3,4,5]
m.remove(2)
print(m)

[1, 3, 4, 5]

In [13]:
del m[1]
print(m)

[1, 4, 5]

In [14]:
s = [1,22,333,4444,55555,666666]
s.pop()

666666

In [15]:
s.pop(1)

22

In [16]:
print(s)

[1, 333, 4444, 55555]

In [18]:
lst = [3,2,8,5,9,23,1]
print(lst)
print(lst[:])
print(min(lst))
print(max(lst))
lst.insert(2,999999999)
print(lst)
lst.append(7777777)
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)
lst.clear()
print(lst)

[3, 2, 8, 5, 9, 23, 1]
[3, 2, 8, 5, 9, 23, 1]
1
23
[3, 2, 999999999, 8, 5, 9, 23, 1]
[3, 2, 999999999, 8, 5, 9, 23, 1, 7777777]
[1, 2, 3, 5, 8, 9, 23, 7777777, 999999999]
[999999999, 7777777, 23, 9, 8, 5, 3, 2, 1]
[]

In [19]:
lst1 = [1,2,3]
lst1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]