In [1]:
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [2]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t = (1)
print(t)
print(type(t))
m = (1,)
print(type(m))

1
<class 'int'>
<class 'tuple'>

In [4]:
t = (1,2,33.4443,5,6)
print(t[1:3])
print(t[1:])
print(t[:])
print(t[:4])
print(t[-5:-1])
print(t[::-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)

In [5]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [6]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
3 in t1

True

In [8]:
len(t1)

3

In [9]:
max(t2)

6

In [10]:
min(t2)

4

In [12]:
def var(*args):
    print(args)
    
var(1)
var(1,2,3)
var('praneeth','TCS',32)
var()

(1,)
(1, 2, 3)
('praneeth', 'TCS', 32)
()

In [13]:
t1 = (1,2,3)
t2 = (5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)